header{

    h1{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 45px;
    }

    
    p{
        color:rgb(191, 192, 207);
        font-size: 25px;
    }

    a{
        color: rgb(136, 154, 214);
    }
}



article{
    h1{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 35px;
    }

    h2{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 35px;
    }

    p{
        color:rgb(191, 192, 207);
        font-size: 15px;
    }

    a{
        color: rgb(136, 154, 214);
    }
}



footer{
    h1{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 35px;
    }

    h2{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 35px;
    }

    p{
        color:rgb(191, 192, 207);
        font-size: 15px;
    }

    a{
        color: rgb(136, 154, 214);
    }

}

summary{
    h1{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 35px;
    }

    h2{
        color:rgb(191, 192, 207);
        font-family: monospace;
        font-size: 35px;
    }

    p{
        color:rgb(191, 192, 207);
        font-size: 15px;
    }

    a{
        color: rgb(136, 154, 214);
    }

}

body{
    background-color: rgb(26, 27, 37);
   }

.division {
    border-bottom: solid rgb(191, 192, 207);

}