body{
    background: url(../images/cinema.png);
    background-repeat: repeat;
    background-size: 440px;
    background-position: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1fr;
    height: .5fr;
    background-image: linear-gradient(to left, rgb(43, 211, 211), rgb(51, 203, 203));
    background-position: center;
    border-radius: 15px;
    
}

section{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 1fr;
    height: 1fr;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.gridtext{
    grid-column: 5/12;
}

.gridimage{
    grid-column: 2/4;
}

.gridtext2{
    grid-column: 1/7;
}

.gridimage2{
    grid-column: 9/11;
}

img{
    border: 15px solid rgb(255, 255, 255);
    border-radius: 15px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 1fr;
    height: .5fr;
    background-color: rgb(255, 221, 0);
    background-position: center;
    border-radius: 15px;
    
}